;500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank.ico"
;  THIS ICON NEEDS TO BE CHANGED: IT IS IN A FORMAT NOT SUPPORTED
; BY MASM

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ghost_scared.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ghost1.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ghost2.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ghost3.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ghost4.bmp"

107 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\background.bmp"
108 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\loading.bmp"
109 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\menu.bmp"
110 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\win.bmp"
111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\game_over.bmp"

112 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\wall.bmp"
113 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ponto.bmp"
114 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\pontao.bmp"

115 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\pac_right_open.bmp"
116 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\pac_right_closed.bmp"
117 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\pac_top_open.bmp"
118 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\pac_top_closed.bmp"
119 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\pac_left_open.bmp"
120 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\pac_left_closed.bmp"
121 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\pac_down_open.bmp"
122 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\pac_down_closed.bmp"

131 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ghost1_dead.bmp"
132 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ghost2_dead.bmp"
133 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ghost3_dead.bmp"
134 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ghost4_dead.bmp"