;500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\tank.ico"
;  THIS ICON NEEDS TO BE CHANGED: IT IS IN A FORMAT NOT SUPPORTED
; BY MASM

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\fantasma0.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\fantasma1.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\fantasma2.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\fantasma3.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\fantasma4.bmp"
105 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\pacman.bmp"
106 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\pacman1.bmp"

107 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\background.bmp"
108 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\loading.bmp"
109 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\menu.bmp"
110 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\win.bmp"
111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\game_over.bmp"

112 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\wall.bmp"